*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#0b1f52;
    color:#333;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    background:#08173d;
    color:white;
}

.container{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:20px;
    padding:20px;
}

.all-songs,
.song-card,
.playlist-section{
    background:#82eaf7;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

#songs-list button{
    display:block;
    width:100%;
    margin:10px 0;
    padding:10px;
    border:none;
    background:#00bcd4;
    color:white;
    cursor:pointer;
    border-radius:5px;
}

#songs-list button:hover{
    background:#0097a7;
}

.song-card img{
    width:100%;
    height:300px;
    object-fit:cover;
    border-radius:10px;
}

.controls{
    margin-top:15px;
    display:flex;
    gap:10px;
}

.controls button,
#theme-btn,
#create-playlist-btn{
    padding:10px;
    cursor:pointer;
}
button{
    background:#5b4cf0;
    color:white;
    border:none;
    border-radius:5px;
}

#prev-btn,
#next-btn,
#add-playlist-btn,
#create-playlist-btn,
#theme-btn{
    background:#5b4cf0;
    color:white;
}
#playlists{
    background:white;
    padding:10px;
    border-radius:8px;
}
.playlist-item{
    padding:10px;
    margin:5px 0;
    background:#eee;
    cursor:pointer;
    border-radius:5px;
}

[data-theme="dark"]{
    background:#121212;
    color:white;
}

[data-theme="dark"] .all-songs,
[data-theme="dark"] .song-card,
[data-theme="dark"] .playlist-section{
    background:#1f1f1f;
    color:white;
}
